16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order

To do 16.8, I'd do 16.4 to create a SQLite database called books.db and a table called books

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer)

In [5]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
connection = sqlite3.connect('books.db')

# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Database 'books.db' and table 'books' created successfully.")

Database 'books.db' and table 'books' created successfully.

Use the sqlalchemy module to connect to the sqlite3 database books.db and select and print the title column from the book table in alphabetical order

In [7]:
from sqlalchemy import create_engine, MetaData, Table

# Create an engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db', echo=True)

# Create a metadata object
metadata = MetaData()

# Reflect the table from the database
metadata.reflect(bind=engine)

# Access the reflected table
books_table = metadata.tables['books']

# Execute a select query to retrieve the title column in alphabetical order
select_query = books_table.select().order_by(books_table.c.title)

# Execute the query and fetch the results
with engine.connect() as connection:
    result = connection.execute(select_query)
    # Iterate over the results and print the title column
    for row in result:
        print(row['title'])

2024-04-09 19:38:36,147 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-09 19:38:36,147 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-04-09 19:38:36,147 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,162 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-04-09 19:38:36,162 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,171 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2024-04-09 19:38:36,171 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,171 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-09 19:38:36,171 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-09 19:38:36,171 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-09 19:38:36,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine ROLLBACK
2024-04-09 19:38:36,194 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-09 19:38:36,209 INFO sqlalchemy.engine.Engine SELECT books.title, books.author, books.year
FROM books ORDER BY books.title
2024-04-09 19:38:36,209 INFO sqlalchemy.engine.Engine [generated in 0.00278s] ()
2024-04-09 19:38:36,209 INFO sqlalchemy.engine.Engine ROLLBACK